<div class="container-fluid p-0">
    <div class="mb-3">
        <h1 class="h3 d-inline align-middle">Leave</h1>
    </div>

    <div class="card">
        <div class="card-header">
            <h5 class="card-title">FullCalendar</h5>
            <h6 class="card-subtitle text-muted">Open source JavaScript plugin for a full-sized, drag &amp; drop event calendar.</h6>
        </div>
        <div class="card-body">
            <div id="fullcalendar"></div>
        </div>
    </div>

</div>
<script>
    //document.addEventListener("DOMContentLoaded", function() {
        var calendarEl = document.getElementById("fullcalendar");
        var calendar = new FullCalendar.Calendar(calendarEl, {
            themeSystem: "bootstrap",
            initialView: "dayGridMonth",
            initialDate: "2020-07-07",
            headerToolbar: {
                left: "prev,next today",
                center: "title",
                right: "dayGridMonth,timeGridWeek,timeGridDay"
            },
            events: [{
                    title: "All Day Event",
                    start: "2020-07-01"
                },
                {
                    title: "Long Event",
                    start: "2020-07-07",
                    end: "2020-07-10"
                },
                {
                    groupId: "999",
                    title: "Repeating Event",
                    start: "2020-07-09T16:00:00"
                },
                {
                    groupId: "999",
                    title: "Repeating Event",
                    start: "2020-07-16T16:00:00"
                },
                {
                    title: "Conference",
                    start: "2020-07-11",
                    end: "2020-07-13"
                },
                {
                    title: "Meeting",
                    start: "2020-07-12T10:30:00",
                    end: "2020-07-12T12:30:00"
                },
                {
                    title: "Lunch",
                    start: "2020-07-12T12:00:00"
                },
                {
                    title: "Meeting",
                    start: "2020-07-12T14:30:00"
                },
                {
                    title: "Birthday Party",
                    start: "2020-07-13T07:00:00"
                },
                {
                    title: "Click for Google",
                    url: "http://google.com/",
                    start: "2020-07-28"
                }
            ]
        });
        setTimeout(function() {
            calendar.render();
        }, 250)
    //});
//document.addEventListener("DOMContentLoaded", function(event) { 
setTimeout(function(){
  if(localStorage.getItem('popState') !== 'shown'){
    window.notyf.open({
      type: "success",
      message: "Get access to all 500+ components and 45+ pages with AdminKit PRO. <u><a class=\"text-white\" href=\"https://adminkit.io/pricing\" target=\"_blank\">More info &#128640;",
      duration: 10000,
      ripple: true,
      dismissible: false,
      position: {
        x: "left",
        y: "bottom"
      }
    });

    localStorage.setItem('popState','shown');
  }
}, 15000);
//});
</script>