<div class="content container-fluid p-0">
    <div class="card">

        <div class="card-header">
            <h5 class="card-title mb-0">Emergency & Contact</h5>
        </div>
        <div class="card-body">
            <form page_after_submit="/employees/emergency-contact" action="/auth/form_submit/employees/add_new_emergency_attribute">
                <input type="hidden" name="isPersonal" value="<%= isPersonal %>">
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="inputName">Attribute Name</label>
                    <div class="col-sm-10">
                        <input type="text" name="name" class="form-control" id="inputName" placeholder="Attribute name" required>
                    </div>
                </div>     
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="inputRequired">Required</label>
                    <div class="col-sm-1">
                        <input type="checkbox" name="isRequired" id="isRequired" value=1>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="inputMultivalue">Multivalued</label>
                    <div class="col-sm-1">
                        <input type="checkbox" name="isMultivalued" id="isMultivalued" value=1>
                    </div>
                </div>
                
                <button type="submit" class="btn btn-primary">Add</button>
            </form>
        </div>

    </div>
</div>
