<div class="content container-fluid p-0">
    <div class="card">
    <div class="card-header">
            <h3 class="card-title mb-0">Change Password</h3>
        </div>
        <div class="card-body">

            <div class="alert alert-danger alert-dismissible mt-3" role="alert" id="change_psw_alert" hidden>
                <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
                <div class="alert-message">
                    <strong>Operation Failed!</strong> <span></span>
                </div>
            </div>

            <div class="alert alert-success alert-dismissible mt-3" role="alert" id="change_psw_succ_alert" hidden>
                <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
                <div class="alert-message">
                    <strong>Password Changed</strong>
                </div>
            </div>

            <form after_submit= "after_change_psw" action="/auth/form_submit/employees/userChangePassword">
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="inputPasswordCurrent">Current password</label>
                    <div class="col-sm-10">
                        <input type="password" name="curr_pass" class="form-control" id="inputPasswordCurrent" placeholder="Enter Current Password" required >
                    </div>
                </div>     
               
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="inputPasswordNew">New password</label>
                    <div class="col-sm-10">
                        <input type="password" name="new_pass" class="form-control" id="inputPasswordNew" placeholder="Enter New Password" required>
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="inputPasswordNew2">Confirm password</label>
                    <div class="col-sm-10">
                        <input type="password" name="confirm_pass" class="form-control" id="inputPasswordNew2" placeholder="Re-Enter New Password" required>
                    </div>
                </div>

                <div>
                    <button type="submit" class="btn btn-primary" >Change</button>
                    <a href="#/profile" class="btn btn-primary" role="button"> Cancel</a>
                </div>

            </form>
        </div>
    </div>
</div>
<script>
    function after_change_psw (res) {
        $('#change_psw_alert').attr('hidden', 1);
        $('#change_psw_succ_alert').attr('hidden', 1);
        res = res ;
        if(res.status===1){
            $('#change_psw_succ_alert').removeAttr('hidden');
            setTimeout(()=>{
                location.hash = '/profile';
            }, 1000)
        }else {
            $('#change_psw_alert').removeAttr('hidden')
            $('#change_psw_alert span').text(res.result)
        }
    }
</script>