<div class="content container-fluid p-0">
    <div class="card">
        <% if(emp_id == 0){
            my_username = 'Username';
            my_first_name = 'Firstname';
            my_last_name = 'Lastname';
        }else{ 
                    my_username = user.username;
                    my_first_name = user.firstname;
                    my_last_name = user.lastname;
        }%>
        <div class="card-header">
            <h3 class="card-title mb-0">EDIT DETAILS</h3>
        </div>
        <div class="card-body">
            <form after_submit= "after_submit" action="/auth/form_submit/employees/userEditDetails">

                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="inputUserName">User Name</label>
                    <div class="col-sm-10">
                        <input type="text" name="user_name" class="form-control" id="inputUserName" value="<%= my_username %>" required>
                    </div>
                </div>  

                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="inputFirstName">First Name</label>
                    <div class="col-sm-10">
                        <input type="text" name="first_name" class="form-control" id="inputFirstName" value="<%= my_first_name %>">
                    </div>
                </div>  

                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="inputLastName">Last Name</label>
                    <div class="col-sm-10">
                        <input type="text" name="last_name" class="form-control" id="inputLastName" value="<%= my_last_name %>" >
                    </div>
                </div>  
                
                <div class="alert alert-primary alert-dismissible mt-3" role="alert" >
                    <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
                    <div class="alert-message">
                        <strong>Consider!</strong> <span>Please provide your password for confirmation</span>
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="inputPassword">Password</label>
                    <div class="col-sm-10">
                        <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Enter Password" required>
                    </div>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary" > Cancel</button>
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </div>
            </form>
        </div>

    </div>
</div>

<script>
    function after_submit(res){
        if(res.success){
            location.hash="/profile"
        }else{
            alert(res.error);
        }

    }
</script>