<div class="container-fluid p-0">
    <div class="card">
        <div class="card-header">
            <h5>Departments Details</h5>
        </div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                <% var id=0; %>
                <% departments.forEach(function(dep){ %>
                    <tr>
                        <td><%= ++id %></td>
                        <td><%= dep.name %></td>
                    </tr>
                <% }) %> 
            </tbody>
        </table>
    </div>
</div>