<%-include('common/toppart', {title: "Jupiter Apparels", nav_button: "dashboard", user}) %>
<%#-include('home') %>
<div id="root"></div>
<%-include('common/bottompart', { jsfile: "/js/dashboard.js" }) %>	