<div class="content container-fluid p-0">
    
    <% var application={"emp_id":null,"applydatetime":"","leave_type_id":null,"period":null,"status_id":null} %>

    <div class="card">
        <div class="card-header">
            <h5 class="card-title mb-0">Leave Application</h5>
        </div>
        <div class="card-body">
            <form page_after_submit="/leaves/my-applications" action="/auth/form_submit/addNewLeaveApplication">
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="inputType">Leave Type</label>
                    <div class="col-sm-10">  
                        <select name="leavetype" id="inputType" class="form-control" required>
                            <% result.forEach(function(type){ %>
                            <option value="<%= type.leave_type_id %>" <%= application.leave_type_id==type.leave_type_id ? 'selected':'' %>><%= type.leave_type %></option>
                            <% }) %> 
                        </select>
                    </div>
                </div>     
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="inputDT">Start Date</label>
                    <div class="col-sm-10">
                        <input type="date" name="applydatetime" class="form-control" id="inputDT" required>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="inputPeriod">Period</label>
                    <div class="col-sm-10">
                        <input type="int" name="period" class="form-control" id="inputPeriod" value="<%= application.period %>" placeholder="# of days" required>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Apply</button>
            </form>
        </div>
    </div>
</div>